h1{
  font-size: 62px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color: #3D4F9F ;
  background-color: #EAF1FB;
}
h2{
  font-size: 34px;
  color: #000099;
}
p{
  font-size: 18px;
}
q{
  
  color: crimson;
}

div{
  background-color: #808080;
  color: oldlace;
}