table,tr,td,th{
  border: 3px solid gray;
  border-collapse: collapse;
  padding: 10px;
}
table{
  margin-bottom: 20px;
}
h1{
  font-size: 34px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color: #3D4F9F ;
  background-color: #EAF1FB;
}